/*

Siesta 1.1.2
Copyright(c) 2009-2012 Bryntum AB
http://bryntum.com/contact
http://bryntum.com/products/siesta/license

*/
.siesta-hidden {
	position       : absolute;
	left           : -10000px;
	top            : -10000px;
}