/*

Siesta 1.1.2
Copyright(c) 2009-2012 Bryntum AB
http://bryntum.com/contact
http://bryntum.com/products/siesta/license

*/
.splashpanel .x-panel-body-default
{
    background:transparent;
}

.splash-links li
{
    margin-top:10px;
    margin-left:10px;
}

.splash-links a
{
    padding-left:22px;
    text-decoration:none;
    height:20px;
    line-height:20px;
    display:block;
}

.splash-links a:hover
{
    text-decoration:underline;
}

.report-bug
{
    background: url(../images/bug.png) no-repeat left 2px;
}

.docs
{
    background: url(../images/book.png) no-repeat left 2px;
}

.forum
{
    background: url(../images/group.png) no-repeat left 2px;
}

.buy
{
    background: url(../images/cart.png) no-repeat left 2px;
}

.videos .video
{
    background: url(../images/video.png) no-repeat center 2px;
}

.videos .book
{
    background: url(../images/book_48.png) no-repeat center 2px;
}

.videos dl
{
    border: 1px solid #ddd;
    border-radius:6px;
    padding:5px 15px;
    margin-top:15px;
    float:left;
    margin-left:35px;
    width:185px;
    height:100px;
    font-size:90%;
    overflow:hidden;
    cursor:hand;
}

.videos dl:hover
{
    border: 1px solid #aaa;
}

.videos a
{
    display:block;
    text-align:center;
    height:45px;
}

