.x-tab-unread .x-tab-inner {
	color: red !important;
}

/**
 * 	DIRTY CELL HACK!
 */
.x-grid-dirty-cell {
    background-image: none;
}

/**
 * 	Grid text selection hack
 */
.x-grid-cell-inner, .x-selectable {
    -moz-user-select: text !important;
    -khtml-user-select: text !important;
    -webkit-user-select: text !important;
}

.wgchat-icon- {
	background-image:url('../app-assets/images/icons/') !important;
}

.wgchat-icon-preferences {
	background-image:url('../app-assets/images/icons/preferences.png') !important;
}

.wgchat-icon-alert {
	background-image:url('../app-assets/images/icons/alert_16x16.png') !important;
}

.wgchat-icon-help {
	background-image:url('../app-assets/images/icons/help_16x16.png') !important;
}

.wgchat-icon-conference {
	background-image:url('../app-assets/images/icons/conference_16x16.png') !important;
}

.wgchat-icon-useradd {
	background-image:url('../app-assets/images/icons/user1_add.png') !important;
}

.wgchat-icon-userinfo {
	background-image:url('../app-assets/images/icons/user1_information.png') !important;
}

.wgchat-icon-transfer {
	background-image:url('../app-assets/images/icons/transfer-16x16.png') !important;
}

.wgchat-icon-category {
	background-image:url('../app-assets/images/icons/bookmark.png') !important;
}

.wgchat-icon-refresh {
	background-image:url('../app-assets/images/icons/refresh.png') !important;
}

.wgchat-icon-save {
	background-image:url('../app-assets/images/icons/save_as.png') !important;
}

.wgchat-icon-login {
	background-image:url('../app-assets/images/icons/door.gif') !important;
}

.wgchat-icon-logout {
	background-image:url('../app-assets/images/icons/aim-gray.gif') !important;
}

.wgchat-icon-broadcast {
	background-image:url('../app-assets/images/icons/megaphone.png') !important;
}

.wgchat-icon-fastpath {
	background-image:url('../app-assets/images/icons/fastpath16.png') !important;
}

.wgchat-icon-lock {
	background-image:url('../app-assets/images/icons/lock-16x16.png') !important;
}

.wgchat-icon-entries {
	background-image:url('../app-assets/images/icons/small_entry.gif') !important;
}

.wgchat-icon-sendim {
	background-image:url('../app-assets/images/icons/mail_forward_16x16.png') !important;
}

.wgchat-icon-history {
	background-image:url('../app-assets/images/icons/history.png') !important;
}

.wgchat-icon-user {
	background-image:url('../app-assets/images/icons/user.png') !important;
}

.wgchat-icon-users {
	background-image:url('../app-assets/images/icons/users2.png') !important;
}

.wgchat-icon-facebook {
	background-image:url('../app-assets/images/icons/facebook.gif') !important;
}

.wgchat-icon-gtalk {
	background-image:url('../app-assets/images/icons/gtalk.png') !important;
}

.wgchat-icon-yahoo {
	background-image:url('../app-assets/images/icons/yahoo.png') !important;
}

.wgchat-icon-bell {
	background-image:url('../app-assets/images/icons/bell.png') !important;
}

.wgchat-icon-accept {
	background-image:url('../app-assets/images/icons/accept.png') !important;
}

.wgchat-icon-edit {
	background-image:url('../app-assets/images/icons/edit.gif') !important;
}

.wgchat-icon-reject {
	background-image:url('../app-assets/images/icons/reject.png') !important;
}

.wgchat-icon-delete {
	background-image:url('../app-assets/images/icons/delete.png') !important;
}

.wgchat-roster-item {
}

	.wgchat-roster-item .name {
	}

	.wgchat-roster-item .status, .wgchat-icon {
		float: left;
		display: block;
		width: 16px;
		background-position: 15px;
		background-repeat: repeat-x;
	}

	.wgchat-roster-item .status-online {
		background-image:url('../app-assets/images/icons/im_available.png') !important;
	}
	
	.wgchat-roster-item .status-chat {
		background-image:url('../app-assets/images/icons/im_free_chat.png') !important;
	}
	
	.wgchat-roster-item .status-away {
		background-image:url('../app-assets/images/icons/im_away.png') !important;
	}
	
	.wgchat-roster-item .status-dnd {
		background-image:url('../app-assets/images/icons/im_dnd.png') !important;
	}
	
	.wgchat-roster-item .status-unavailable {
		background-image:url('../app-assets/images/icons/im_unavailable.png') !important;
	}
	
.wgchat-favicon {
	background-image:url('../app-assets/images/icons/spark-16x16.png') !important;
}

/* Chat styling */
.wgchat-message-item {
	display: block;
	padding: 0 0 5px;
}

	.wgchat-message-item .wgchat-notif {
		font-style: italic;
		color: green;
	}

	.wgchat-message-item .wgchat-timestamp {
		color: red;
		margin-right: 2px;
	}
	
	.wgchat-message-item .wgchat-name {
		color: red;
		margin-right: 5px;
	}
	
	.wgchat-message-item .me {
		color: blue;	
	}

#msg-div .msg p {
	line-height: 150% !important;
}

.wgchat-body {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}