HTML, BODY { height: 100%; }

#loading-mask {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #ffffff;
     z-index: 1;
}

#loading {
     position: absolute;
     top: 40%;
     left: 45%;
     z-index: 2;
}

#loading SPAN {
     background: url('../app-assets/images/loader.gif') no-repeat left center;
     padding: 30px 75px;
     display: block;
}