/*

Siesta 1.1.2
Copyright(c) 2009-2012 Bryntum AB
http://bryntum.com/contact
http://bryntum.com/products/siesta/license

*/
.result-summary-button .passed-indicator,
.result-summary-button .failed-indicator
{
    line-height:21px;
    overflow:hidden;
    float:left;
    padding-left:25px;
}


.result-summary-button .passed-indicator
{
    background : url(../images/ok.png) no-repeat left center;
}

.result-summary-button .failed-indicator
{
    margin-left:15px;
    background : url(../images/bug.png) no-repeat left center;
}
