/*

Siesta 1.1.2
Copyright(c) 2009-2012 Bryntum AB
http://bryntum.com/contact
http://bryntum.com/products/siesta/license

*/
/*=======================================================================================================================================================================================================================
    Row in tests grid - result cell
*/

.tr-testgrid .x-grid-dirty-cell 
{
    background-image:none;
}

.tr-testgrid .x-grid-cell-inner {
    height          : 20px !important;
}

.x-ie .tr-testgrid .x-grid-cell-inner {
    white-space     : nowrap !important;
}

.tr-folder-item {
	background-color       : lightcyan;
	font-weight            : bolder;
}

.tr-test-status {
    background-position: 0px center;
    background-repeat: no-repeat;
    padding-left        : 25px;
}

.tr-test-status-empty {
    background-image : url(../images/document_16.png) !important;
}

.tr-test-status-failed {
    background-image : url(../images/bug.png) !important;
}

.tr-test-status-thrown {
    background-image : url(../images/flag-red.png) !important;
}

.tr-test-status-working {
    background-image : url(../images/hourglass.png) !important;
}

.tr-test-status-passed {
    background-image : url(../images/ok.png) !important;
}

.tr-test-status-missing {
    background-image : url(../images/cross.png) !important;
}

.tr-test-status-running {
    background-image : url(../images/lightning.png) !important;
}

.tr-folder-green {
    background-image : url(../images/folder_green.png) !important;
}

.tr-folder-yellow {
    background-image : url(../images/folder_yellow.png) !important;
}

.tr-folder-red {
    background-image : url(../images/folder_red.png) !important;
}

.tr-test-todo-pass
{
    color: green;    
    font-weight:bold;
}

.tr-test-todo-fail
{
    color: #666;    
}


.tr-test-results {
    height             : 1.7em;
    position           : absolute;
    right              : 2.14em;
    bottom             : 0.44em;
    text-align         : right;
    line-height        : 1.7em;
    margin-right    : 20px;
}

.tr-test-results-passed, .tr-test-results-failed
{
    overflow        : hidden;
    float           : left;
    padding-left    : 20px;
}

.tr-test-results
{
    margin-right    : 15px;
}

.tr-test-results-passed
{
    background : url(../images/ok.png) no-repeat left center;
}

.tr-test-results-failed
{
    margin-left     : 20px;
    background      : url(../images/bug.png) no-repeat left center;
}
